<div class="dropdown-container">
  <kendo-datepicker
    #kendoDatePickerInstance="kendo-datepicker"
    [value]="selectedValue"
    (valueChange)="setFilter($event)"
    calendarType="classic"
    [format]="dateFormat"
    [clearButton]="true"
    [footer]="true"
    [animateCalendarNavigation]="true"
    [popupSettings]="{ popupClass: 'kendo-datepicker-popup-class', animate: true }">
    <ng-template kendoCalendarFooterTemplate let-date="date">
      <a class="k-calendar-today" (click)="selectDate(date, kendoDatePickerInstance)" (keyup)="selectDate(date)" tabindex="0">{{date | localDate:'D'}}</a>
    </ng-template>
  </kendo-datepicker>
</div>
