<div class="dropdown-container">
  <kendo-dateinput
    #dateInputAnchor
    [value]="selectedValue"
    (valueChange)="onValueChange($event)"
    format="dd.MM.yyyy"
    (focus)="togglePopup(dateInputAnchor.inputElement)"
    >
  </kendo-dateinput>
  <div #inputGroupAnchor class="input-group-append">
    <i class="input-group-text fa fa-calendar" (click)="togglePopup(dateInputAnchor.inputElement)" (keydown)="togglePopup(dateInputAnchor.inputElement)" tabindex="0"></i>
  </div>
  <i class="fa fa-times" [style.display]="selectedValue ? 'block' : 'none'" (click)="onRemoveFilterClick()" (keydown)="onRemoveFilterClick()" tabindex="1"></i>
</div>
