@import "@progress/kendo-theme-bootstrap/dist/all.css";
@import "bootstrap/dist/css/bootstrap.min.css";

.example-container {
  margin: 3rem 0;
  .k-table-th,
  .k-table-td {
    &> .w100 {
      width: 100%;
    }
    &> .align-center {
      text-align: center;
    }
  }
}
.kendo-datepicker-popup-class {
  kendo-calendar-header {
      background-color: var(--kendo-color-base, #dee2e6);
      position: relative;
      width: 100%;
      .k-calendar-title {
        position: absolute;
        left: 26.5%;
        z-index: 1;
        .k-button-text {
          color: var(--kendo-color-on-base, #212529);
          font-size: 1.1rem;
          font-weight: 600;
          padding-right: 1rem;
        }
      }
      .k-calendar-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .k-button-text {
          display: none;
        }
      }
    }
    kendo-calendar-footer {
      padding-bottom: 0.75rem;
      .k-calendar-today {
        text-decoration: none;
        cursor: pointer;
      }
    }
}
